/* footer scss */

footer { 
  display:block;
  width:100%;

  &#signup {
    background: $blue;
    padding:2rem 0;
  }

  aside {
    margin:0 auto;
    width:70%;

    div {
      width:calc(50% - 1rem);
      display:inline-block;
      vertical-align:top;

      &:first-child {
        margin-right:1rem;
      }

      color:$white;
      h3 { 
        margin:0px;
      }
    }
  }

  blockquote {
    display:block;
    width:100%;
    padding:0px;
    margin:0px;
    p {
      display:inline-block;
      width:auto;
      margin:2rem auto 3rem;
      font-size:1rem;
    }

  }
}
